<section id="awards">
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <h2>Awards</h2>
        <p>Some Awards I received</p>
        <div class="space"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="100" data-animation="fadeIn">
        <div class="icon">
          <i class="fa fa-trophy icon-effect"></i>
        </div>
        <div class="content">
          <h3>AWWWARDS</h3>
          <p>
            Website of the day.
          </p>
          <small class="text-muted">Received: February 2nd 2014</small>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="150" data-animation="fadeIn">
        <div class="icon">
          <i class="fa fa-code icon-effect"></i>
        </div>
        <div class="content">
          <h3>CSS DESIGN AWARDY</h3>
          <p>
            Best CSS Code website of the month.
          </p>
          <small class="text-muted">Received: September 2013</small>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="200" data-animation="fadeIn">
        <div class="icon">
          <i class="fa fa-wheelchair icon-effect"></i>
        </div>
        <div class="content">
          <h3>Page Usability Award</h3>
          <p>
            Best usability for disabled persons.
          </p>
          <small class="text-muted">Received: November 22nd 2014</small>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="250" data-animation="fadeIn">
        <div class="icon">
          <i class="fa fa-picture-o icon-effect"></i>
        </div>
        <div class="content">
          <h3>Shoot of the Day</h3>
          <p>
            Awarded beach photo
          </p>
          <small class="text-muted">Received: NA</small>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="300" data-animation="fadeIn">
        <div class="icon">
          <i class="fa fa-lightbulb-o icon-effect"></i>
        </div>
        <div class="content">
          <h3>Smartest Idea</h3>
          <p>
            Best idea in a brainstorming for revolutionary navigation.
          </p>
          <small class="text-muted">Received: September 2013</small>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 info-box animated" data-animation-delay="350" data-animation="fadeIn">
        <div class="icon">
          <i class="fa fa-heart icon-effect"></i>
        </div>
        <div class="content">
          <h3>Most loved Item</h3>
          <p>
            Most (per month) likes on a homepage PSD design
          </p>
          <small class="text-muted">Received: November 22nd 2014</small>
        </div>
      </div>
    </div><!--row-->
  </div>
</section>
