<section id="blog">
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <h2>Recent Blog Posts</h2>
        <p>Go have a look</p>
        <div class="space"></div>
      </div>
    </div>

    <div class="recent-blog-container animated" data-animation-delay="200" data-animation="fadeInUp">
      <div class="col-sm-6">
        <div class="image">
          <div id="owl-carousel-blog" class="owl-carousel">
            <div class="owl-container">
              <div class="img-blog-container"><a href="#" target="_blank"><img src="img/blog/blog-1.jpg" class="img-responsive" alt="" /></a></div>
            </div>
            <div class="owl-container">
              <div class="img-blog-container"><a href="#" target="_blank"><img src="img/blog/blog-2.jpg" class="img-responsive" alt="" /></a></div>
            </div>
          </div><!--carousel-->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="body">
          <h3>BEACH LOVE</h3>
          <small class="text-muted"><i class="fa fa-user"></i> By John J. Doe</small>
          <p>
            This is the short version of this blog post. You could call it the excerpt. 3 Lines should be enough.
          </p>
          <div class="meta">
            <ul class="list-inline">
              <li>
                25/03/14
              </li>
              <li>
                <strong>12</strong> Comments
              </li>
              <li class="pull-right">
                0 <i class="fa fa-heart"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="background-icon animated" data-animation-delay="400" data-animation="fadeInLeft">
          <i class="fa fa-picture-o"></i>
        </div>
      </div>
    </div>

    <div class="recent-blog-container animated" data-animation-delay="200" data-animation="fadeInUp">
      <div class="col-sm-6">
        <div class="body">
          <h3>DISSASEMBLED</h3>
          <small class="text-muted"><i class="fa fa-user"></i> By John J. Doe</small>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <div class="meta">
            <ul class="list-inline">
              <li>
                25/03/14
              </li>
              <li>
                <strong>12</strong> Comments
              </li>
              <li class="pull-right">
                123 <i class="fa fa-heart"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="background-icon left animated" data-animation-delay="400" data-animation="fadeInRight">
          <i class="fa fa-picture-o"></i>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="image">
          <img src="img/blog/blog-3.jpg" class="img-responsive image-modal" data-mfp-src="img/blog/blog-3.jpg"  alt="" title="This is the title">
        </div>
      </div>
    </div>

    <div class="recent-blog-container animated" data-animation-delay="200" data-animation="fadeInUp">
      <div class="col-sm-6">
        <div class="image">
          <div class="video-container">
            <iframe src="http://player.vimeo.com/video/25708134?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" style="border-width:0px"></iframe>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="body">
          <h3>VIDEO</h3>
          <small class="text-muted"><i class="fa fa-user"></i> By John J. Doe</small>
          <p>
            This is the short version of this blog post. You could call it the excerpt. 3 Lines should be enough.
          </p>
          <div class="meta">
            <ul class="list-inline">
              <li>
                25/03/14
              </li>
              <li>
                <strong>12</strong> Comments
              </li>
              <li class="pull-right">
                33 <i class="fa fa-heart"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="background-icon animated" data-animation-delay="400" data-animation="fadeInLeft">
          <i class="fa fa-camera"></i>
        </div>
      </div>
    </div>

    <p>
      <a href="#" class="btn btn-default btn-large"><i class="fa fa-eye"></i> Show all Blog Posts</a>
    </p>
  </div><!--container-->
</section>
