<section id="clients" class="no-section-padding">
  <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
    <path d="M0 0 L50 100 L100 0 Z"/>
  </svg>
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3 section-padding">
        <h2>Clients</h2>
        <p>Some happy clients</p>
        <div class="space"></div>
      </div>
    </div>
    <div id="owl-carousel-clients" class="owl-carousel">
      <div class="owl-container text-center">
        <div class="img-client-container animated" data-animation-delay="200" data-animation="fadeInUp"><a href="#" target="_blank"><img src="img/clients/client-01.png" class="img-responsive" alt="" /></a></div><h5>CLIENT 1</h5>
      </div>
      <div class="owl-container text-center">
        <div class="img-client-container animated" data-animation-delay="300" data-animation="fadeInUp"><a href="#" target="_blank"><img src="img/clients/client-02.png" class="img-responsive" alt="" /></a></div><h5>CLIENT 2</h5>
      </div>
      <div class="owl-container text-center">
        <div class="img-client-container animated" data-animation-delay="400" data-animation="fadeInUp"><a href="#" target="_blank"><img src="img/clients/client-03.png" class="img-responsive" alt="" /></a></div><h5>CLIENT 3</h5>
      </div>
      <div class="owl-container text-center">
        <div class="img-client-container animated" data-animation-delay="500" data-animation="fadeInUp"><a href="#" target="_blank"><img src="img/clients/client-04.png" class="img-responsive" alt="" /></a></div><h5>CLIENT 4</h5>
      </div>
      <div class="owl-container text-center">
        <div class="img-client-container animated" data-animation-delay="600" data-animation="fadeInUp"><a href="#" target="_blank"><img src="img/clients/client-05.png" class="img-responsive" alt="" /></a></div><h5>CLIENT 5</h5>
      </div>
      <div class="owl-container text-center">
        <div class="img-client-container animated" data-animation-delay="700" data-animation="fadeInUp"><a href="#" target="_blank"><img src="img/clients/client-06.png" class="img-responsive" alt="" /></a></div><h5>CLIENT 6</h5>
      </div>
      <div class="owl-container text-center">
        <div class="img-client-container animated" data-animation-delay="800" data-animation="fadeInUp"><a href="#" target="_blank"><img src="img/clients/client-07.png" class="img-responsive" alt="" /></a></div><h5>CLIENT 7</h5>
      </div>
      <div class="owl-container text-center">
        <div class="img-client-container animated" data-animation-delay="900" data-animation="fadeInUp"><a href="#" target="_blank"><img src="img/clients/client-08.png" class="img-responsive" alt="" /></a></div><h5>CLIENT 8</h5>
      </div>
    </div><!--carousel-->
  </div>
</section>
