<section id="contact" class="no-section-padding">
  <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
    <path d="M0 0 L50 100 L100 0 Z"/>
  </svg>
  <div class="container text-center">
    <div class="row section-padding">
      <div class="hero">
        <h2>Get in touch</h2>
        <p>No matter what. Just do it</p>
      </div>
      <div class="col-sm-6 col-sm-offset-3 animated" data-animation-delay="300" data-animation="fadeInLeft">
        <h2>John Slamr </h2>
        <address>
          795 Folsom Ave, Suite 600
          <br>
          San Francisco, CA 94107
          <br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
          <br>
          <a href="mailto:#">mail@SLAMR.com</a>
        </address>
        <div class="background-icon left animated" data-animation-delay="400" data-animation="fadeInRight">
          <i class="fa fa-envelope-o"></i>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3 animated" data-animation-delay="600" data-animation="fadeInRight">
        <form class="contact-form" id="contact-form" role="form">
          <div class="form-group">
            <label class="sr-only" for="inputName">Name</label>
            <input type="text" placeholder="Name" name="inputName" id="inputName" class="form-control">
          </div>

          <div class="form-group">
            <label class="sr-only" for="inputEmail">Email address</label>
            <input type="email" placeholder="Enter email" name="inputEmail" id="inputEmail" class="form-control">
          </div>

          <div class="form-group">
            <label class="sr-only" for="inputMessage">Message</label>
            <textarea placeholder="Your Message" name="inputMessage" rows="5" id="inputMessage" class="form-control"></textarea>
          </div>
          <div class="pull-right">
            <p><button id="contact-submit" class="btn btn-default btn-submit" type="submit"><i class="fa fa-check"></i> Submit</button></p>
          </div>
          <div class="clearfix"></div>
          <div id="contact-form-response"></div>
        </form>
      </div>
    </div><!--row-->

    <div class="social-icons">
      <a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" target="_blank" class="flickr"><i class="fa fa-flickr"></i> </a>
      <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i> </a>
      <a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i> </a>
      <a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i> </a>
      <a href="#" target="_blank" class="dropbox"><i class="fa fa-dropbox"></i> </a>
      <a href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i> </a>
    </div>
    <div class="clearfix"></div>

  </div><!--container-->
</section>
