<section id="cv">
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <h2>Curriculum Vitae</h2>
        <p>Get to know where I've proven my skills</p>
        <div class="space"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="cv-wrapper">
      <div class="row cv">
        <div class="col-lg-3 title">
          <h3 class="headline-inline">EDUCATION</h3>
        </div>
        <div class="cv-entry animated" data-animation-delay="100" data-animation="fadeInLeft">
          <div class="col-lg-6 main">
            <h4>Master of Web Design</h4>
            <i class="fa fa-building-o"></i> St. Patrick University <small> (2 Years Course)</small>

            <p class="desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the one.
            </p>
            <hr>
          </div>
          <div class="col-lg-3 date">
            <p>
              <small><i class="fa fa-calendar-o"></i> Graduation May 2013</small>
            </p>
          </div>
        </div>
        <div class="cv-entry animated" data-animation-delay="150" data-animation="fadeInRight">
          <div class="col-lg-6 col-lg-offset-3 main">
            <h4>Degree of Web Developer</h4>
            <i class="fa fa-building-o"></i> Hastings University <small> (2 Years Course)</small>

            <p class="desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
          <div class="col-lg-3 date">
            <p>
              <small><i class="fa fa-calendar-o"></i> June 2012</small>
            </p>
          </div>
        </div>
      </div>

      <div class="row cv">
        <div class="col-lg-3 title">
          <h3 class="headline-inline">WORK</h3>
        </div>
        <div class="cv-entry animated" data-animation-delay="100" data-animation="fadeInLeft">
          <div class="col-lg-6 main">
            <h4>Front-end Developer</h4>
            <i class="fa fa-building-o"></i> Black Tie Corp.

            <p class="desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <hr>
          </div>
          <div class="col-lg-3 date">
            <p>
              <small><i class="fa fa-calendar-o"></i> June 2012 - Current</small>
            </p>
          </div>
        </div>
        <div class="cv-entry animated" data-animation-delay="150" data-animation="fadeInRight">
          <div class="col-lg-6 col-lg-offset-3 main">
            <h4>Web Designer - Intern</h4>
            <i class="fa fa-building-o"></i> Onassis Ltd.

            <p class="desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
          <div class="col-lg-3 date">
            <p>
              <small><i class="fa fa-calendar-o"></i> January 2010 - April 2012</small>
            </p>
          </div>
        </div>
      </div>

    </div><!--cv wrapper-->

    <p>
      <a href="#" class="btn btn-default btn-large"><i class="fa fa-download"></i> Download my CV</a>
    </p>
  </div>
</section>
