<section id="offers">
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <p>What I offer</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="headline">
            <h3>Interface Design</h3>
          </div>
          <div class="text hidden-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum cursus dictum. Duis molestie velit non augue condimentum iaculis ut at enim.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="0" data-animation="fadeInLeft">
            <i class="fa fa-desktop"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-compass"></i>
          </div>
          <div class="headline">
            <h3>Branding</h3>
          </div>
          <div class="text hidden-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum cursus dictum. Duis molestie velit non augue condimentum iaculis ut at enim.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="fa fa-compass"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-tablet"></i>
          </div>
          <div class="headline">
            <h3>Mobile Apps</h3>
          </div>
          <div class="text hidden-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum cursus dictum. Duis molestie velit non augue condimentum iaculis ut at enim.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="fa fa-tablet"></i>
          </div>
        </div>
      </div>
    </div><!--row-->

    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-pencil"></i>
          </div>
          <div class="headline">
            <h3>Illustrations</h3>
          </div>
          <div class="text hidden-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum cursus dictum. Duis molestie velit non augue condimentum iaculis ut at enim.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="fa fa-pencil"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-building-o"></i>
          </div>
          <div class="headline">
            <h3>Corporate Identity</h3>
          </div>
          <div class="text hidden-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum cursus dictum. Duis molestie velit non augue condimentum iaculis ut at enim.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="fa fa-building-o"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-apple"></i>
          </div>
          <div class="headline">
            <h3>Logo Design</h3>
          </div>
          <div class="text hidden-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum cursus dictum. Duis molestie velit non augue condimentum iaculis ut at enim.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="400" data-animation="fadeInLeft">
            <i class="fa fa-apple"></i>
          </div>
        </div>
      </div>
    </div><!--row-->
  </div>
</section>
