<section id="testimonials" class="testimonials">
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <h2>Testimonials</h2>
        <p>What my clients think about me</p>
        <div class="space"></div>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div id="owl-carousel-testimonial" class="owl-carousel">
        <div class="img-testimonial-container animated" data-animation-delay="400" data-animation="fadeInUp"><img src="img/testimonials/testimonial-1.jpg" class="img-responsive img-circle" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          </p>
          <cite title="Source Title" class="text-mute">John Adams (CEO - Company)</cite>
        </div>
        <div class="img-testimonial-container animated" data-animation-delay="400" data-animation="fadeInUp"><img src="img/testimonials/testimonial-2.jpg" class="img-responsive img-circle" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. <b>I LOVE IT</b>
          </p>
          <cite title="Source Title" class="text-mute">Peter Frownd (Graphic Designer)</cite>
        </div>
        <div class="img-testimonial-container animated" data-animation-delay="400" data-animation="fadeInUp"><img src="img/testimonials/testimonial-3.jpg" class="img-responsive img-circle" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr
          </p>
          <cite title="Source Title" class="text-mute">John Doe (Rockstar)</cite>
        </div>
      </div><!--carousel-->
    </div>
  </div>
</section>
