<!-- <div id="preloader"><div id="spinner_container"><div class="company"><div class="border">JOHN SLAMR <img src="img/assets/spinner.gif" alt="" /></div></div></div></div> -->

<!--main body-->
<section id="head" class="style3">
  <div class="container" onclick="$.scrollTo( '#about', 800, {easing:'easeOutExpo', axis:'y'} );">
    <div class="head-thumbBig">
      <img class="img-circle img-responsive" src="img/user-1.jpg" alt="" />
    </div>
    <div class="row">
      <div class="hero">
        <div class="col-sm-8 col-sm-offset-2">
          <h1>Hi, I'm Scott&nbsp;Arthur</h1>
          <!-- <h3>Web Developer.</h3> -->
        </div>
      </div>
    </div>
  </div><!--container-->
</section>
