<section id="my-skills">
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <p>My Skills</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon">
            <i class="devicons devicons-ruby"></i>
          </div>
          <div class="headline">
            <h3>I <i class="fa fa-heart"></i> Ruby</h3>
          </div>
          <div class="text hidden-sm">
            <p>I'm a confident Ruby developer and have been using Ruby on Rails since 2.3.</p>
            <p>These days, I also use smaller Ruby components in my work, based on Sinatra or Grape.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="0" data-animation="fadeInLeft">
            <i class="devicons devicons-ruby"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="devicons devicons-git"></i>
          </div>
          <div class="headline">
            <h3>I Get Git</h3>
          </div>
          <div class="text hidden-sm">
            <p>I'm an avid Git user—whether I'm working solo or collaborating.</p> 
            <p>Github and Gitlab are indespensible to me, and I tend to follow the <a href="https://guides.github.com/introduction/flow/index.html">Github Flow</a> workflow.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="devicons devicons-git"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="devicons devicons-linux"></i>
          </div>
          <div class="headline">
            <h3>Long-time Linux User</h3>
          </div>
          <div class="text hidden-sm">
            <p>I've been using Debian / Ubuntu Linux for years, both professionally and personally.</p>
            <p>When possible I prefer to run my own servers and use tools like Chef to keep things solid.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="devicons devicons-linux"></i>
          </div>
        </div>
      </div>
    </div><!--row-->

    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-users"></i>
          </div>
          <div class="headline">
            <h3>Passionate about UX</h3>
          </div>
          <div class="text hidden-sm">
            <p>I care deeply about user-experience and consider great design to be an essential part of building great software.</p>
            <p>I have an eye for good design and love collaborating with talented visual designers.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="fa fa-users"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="devicons devicons-html5"></i>
          </div>
          <div class="headline">
            <h3>The Web Stack</h3>
          </div>
          <div class="text hidden-sm">
            <p>I'm a confident HTML / CSS / Javascript developer.</p>
            <p>jQuery was my gateway to Javascript, but I also include vanilla Javascript or client-side frameworks like Ember.js in my toolkit.<br><br></p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="devicons devicons-html5"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="devicons devicons-database"></i>
          </div>
          <div class="headline">
            <h3>Data Data Everywhere</h3>
          </div>
          <div class="text hidden-sm">
            <p>When it comes to picking a database, I belive it's a matter of using the right tool for the job.</p>
            <p>I have experience with MySQL, PostgreSQL, MongoDB and SQL Server.<br><br></p>
            <p></p>
          </div>
          <div class="background-icon animated" data-animation-delay="400" data-animation="fadeInLeft">
            <i class="devicons devicons-database"></i>
          </div>
        </div>
      </div>
    </div><!--row-->
  </div>
</section>
