<section id="my-skills">
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <h2>My Skills</h2>
        <div class="space"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon">
            <i class="devicons devicons-ruby"></i>
          </div>
          <div class="headline">
            <h3>I <i class="fa fa-heart"></i> Ruby</h3>
          </div>
          <div class="text hidden-sm">
            <p>I'm a confident Ruby developer, and it is my language of choice
            for most projects.</p>
            <p>While I'm strongest with Ruby, I'm also comfortable building
            software with Go, Python, and PHP.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="0" data-animation="fadeInLeft">
            <i class="devicons devicons-ruby"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-gears"></i>
          </div>
          <div class="headline">
            <h3>Infrastructure Automation</h3>
          </div>
          <div class="text hidden-sm">
            <p>
              I have strong infrastructure automation skills, and have significant
              experience using Puppet, and Ansible.
            </p>
            <p>These days my toolkit includes Docker and other Linux container
            technologies.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="fa fa-gears"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="devicons devicons-linux"></i>
          </div>
          <div class="headline">
            <h3>Long-time Linux User</h3>
          </div>
          <div class="text hidden-sm">
            <p>I've been using Debian / Ubuntu Linux for years, both professionally and personally.</p>
            <p>In recent years, I've focused on Red Hat Enterprise Linux,
            and it is now the distro I'm most experienced with professionally.</p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="devicons devicons-linux"></i>
          </div>
        </div>
      </div>
    </div><!--row-->

    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="devicons devicons-git"></i>
          </div>
          <div class="headline">
            <h3>I Get Git</h3>
          </div>
          <div class="text hidden-sm">
            <p>I'm an avid Git user—whether I'm working solo or collaborating.</p> 
            <p>Github and Gitlab are indespensible to me, and I tend to follow
            the <a href="https://guides.github.com/introduction/flow/index.html">Github
              Flow</a> workflow.<br><br></p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="devicons devicons-git"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-users"></i>
          </div>
          <div class="headline">
            <h3>Passionate about UX</h3>
          </div>
          <div class="text hidden-sm">
            <p>I care deeply about user-experience and consider great UX &amp;
            design to be an essential part of building great software.</p>
            <p>Whether it's a website or infrastructure software, UX is
            critical<br><br></p>
          </div>
          <div class="background-icon animated" data-animation-delay="200" data-animation="fadeInLeft">
            <i class="fa fa-users"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="icon ">
            <i class="fa fa-arrow-circle-o-right"></i>
          </div>
          <div class="headline">
            <h3>Agile & DevOps</h3>
          </div>
          <div class="text hidden-sm">
            <p>I'm well versed in Agile & DevOps practices.</p>

            <p>CI/CD, strong feedback loops, and collaboration are critical to my software development
            workflow, and ensuring the right thing gets built</p>
          </div>
          <div class="background-icon animated" data-animation-delay="400" data-animation="fadeInLeft">
            <i class="fa fa-arrow-circle-o-right"></i>
          </div>
        </div>
      </div>
    </div><!--row-->
  </div>
</section>
