<!--<nav class="navbar navbar-custom navbar-fixed-top static-background" role="navigation">-->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
    <div class="company"><div class="border">{{ site.title }}</div></div>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#my-work">My Work</a></li>
        <!-- <li><a href="#contact">Contact</a></li> -->
      </ul>
    </div>
  </div>
</nav>
