<section id="welcome">
  <!-- <img alt="" class="thumb-middle" src="img/user-1.jpg"> -->
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <h2>{{ site.title }}</h2>
        <p>Web Developer<br/>Melbourne, Australia</p>
        <div class="space"></div>
      </div>
    </div>
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <p>A little bit about me...</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="introduction-table">
          <div class="welcome-social row">
            <div class="col-sm-3">
              <h4>Social</h4>
            </div>
            <div class="col-sm-9">
              <a href="https://github.com/scottatron"><i class="fa fa-github fa-fw"></i></a>
              <a href="https://twitter.com/scottatron"><i class="fa fa-twitter fa-fw"></i></a>
              <a href="http://instagram.com/scottatron"><i class="fa fa-instagram fa-fw"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h4>Contact</h4>
            </div>
            <div class="col-sm-9">
              <p>
                <a href="mailto:scott@scottatron.com">scott@scottatron.com</a><br>
                +61428911882<br>
                <a href="skype:scottatron">skype:scottatron</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <p>I'm a full-stack web developer based in Melbourne, Australia where I live my with my wife Kate and my son Baxter.</p>

        <p>I've been self-employed since 2006, starting out as a PHP developer and now primarly working with Ruby.</p>

        <p>My work is driven by the desire to build great experiences for the web and tap it's potential to make our lives easier.</p>

        <p>If it wasn't my job, it would probably still be a hobby, and I consider myself lucky to be able to do something I genuinely enjoy.</p>

        <!-- <img src="img/signature.png" class="img-responsive" alt="" />  -->
      </div>
    </div>
  </div><!--container-->
</section>
