<section id="welcome">
  <img alt="" class="thumb-middle" src="img/user-1.jpg">
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <h2>{{ site.title }}</h2>
        <p>Web Developer<br/>Melbourne, Australia</p>
        <div class="space"></div>
      </div>
    </div>
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <p>Short facts about me</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="introduction-table">
          <div class="row">
            <div class="col-sm-3">
              <h4>Profile</h4>
            </div>
            <div class="col-sm-9">
              <p>UX Designer. Frontend Developer. Art Director.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h4>Social Profiles</h4>
            </div>
            <div class="col-sm-9">
              <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
              <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
              <a href="#"><i class="fa fa-flickr fa-fw"></i> </a>
              <a href="#"><i class="fa fa-linkedin fa-fw"></i> </a>
              <a href="#"><i class="fa fa-pinterest fa-fw"></i></a>
              <a href="#"><i class="fa fa-dropbox fa-fw"></i></a>
              <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h4>Skills</h4>
            </div>
            <div class="col-sm-8">
              <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background:#2F3238;"><span>HTML5</span></div>
                <div class="skillbar-bar" style="background:#2F3238;"></div>
                <div class="skill-bar-percent">80%</div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background:#2F3238;"><span>CSS3</span></div>
                <div class="skillbar-bar" style="background:#2F3238;"></div>
                <div class="skill-bar-percent">95%</div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background:#2F3238;"><span>PHP</span></div>
                <div class="skillbar-bar" style="background:#2F3238;"></div>
                <div class="skill-bar-percent">75%</div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="88%">
                <div class="skillbar-title" style="background:#2F3238;"><span>JAVASCRIPT</span></div>
                <div class="skillbar-bar" style="background:#2F3238;"></div>
                <div class="skill-bar-percent">88%</div>
              </div> <!-- End Skill Bar -->

            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h4>Contact</h4>
            </div>
            <div class="col-sm-9">
              <a href="mailto:john@SLAMR.com">john@SLAMR.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <!-- <p>Hi my name is John Slamr. I'm a 28 year old multi talent from San Francisco.</p> -->
        <!-- <p>Let me give you a short introduction of myself, with all the keyfacts. If you want to know more about me just further explore this page. <br>Thanks alot for visiting.</p><br> -->
        <!-- Kind Regards, -->
        <!-- <img src="img/signature.png" class="img-responsive" alt="" />  -->
      </div>
    </div>
  </div><!--container-->
</section>
