<section id="welcome">
  <!-- <img alt="" class="thumb-middle" src="img/user-1.jpg"> -->
  <div class="container">
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <h2>{{ site.title }}</h2>
        <p>Melbourne, Australia</p>
        <div class="space"></div>
      </div>
    </div>
    <div class="row">
      <div class="hero col-sm-6 col-sm-offset-3">
        <p>A little bit about me...</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="introduction-table">
          <div class="welcome-social row">
            <div class="col-sm-3">
              <h4>Social</h4>
            </div>
            <div class="col-sm-9">
              <a href="https://github.com/scottatron"><i class="fa fa-github fa-fw"></i></a>
              <a href="https://www.linkedin.com/in/scott-arthur-4a969076/"><i class="fa fa-linkedin fa-fw"></i></a>
              <a href="https://twitter.com/scottatron"><i class="fa fa-twitter fa-fw"></i></a>
              <a href="http://instagram.com/scottatron"><i class="fa fa-instagram fa-fw"></i></a>
              <a href="http://scottatron.tumblr.com"><i class="fa fa-tumblr fa-fw"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h4>Contact</h4>
            </div>
            <div class="col-sm-9">
              <p>
                <a href="mailto:scott@scottatron.com">scott@scottatron.com</a><br>
                +61428911882<br>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <p>
          I’m a passionate technologist with years of experience in web
          development, and recent focus on infrastructure automation
          and developer experience for software delivery.
        </p>

        <p>
          I believe the best problems to solve in technology are not just
          technical, but involve people and communication, and strive to put the
          experience of our users at the forefront of my work.
        </p>

        <p>
          Keeping on top of shifts in technology, and best-practices within a
          fast-moving industry is something I care deeply about, and spend a
          significant part of my time focusing.
        </p>

      </div>
    </div>
  </div><!--container-->
</section>
